

 *{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;}
       #nav{
    width: 100%;
    border: 1px solid gray;
    display: flex;
    gap: 20px;
    
    }
    
    #nav>div{height: 100%;
    width: 10%;
    margin-top: 8px;
    margin-left: 10px;}
    
    #nav>div>img{width: 100%;}
    
    #nav>div+h5{margin-left: 30px;}
    
    #cash{border: 0px;
      
    }
    
    button{border: 0px;
        margin-left: 200px;  
     
    }
    button:hover{background-color: rgb(161, 216, 107);
        border: 1px solid black;
    }
    
    img{width: 100%;}