*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,body{
  line-height: 1.15;
  letter-spacing: .3px;
  font-family: soleil,Helvetica,Arial,sans-serif;
  min-height: 100vh;
  
}


#product-section{
  position: relative;
    margin-top: 60px;
}

#filter-section{
  position: sticky;
  top: 72px;
  z-index: 500;
  background-color: white;
  padding-left: 30px;
  width:100%;
  padding-top: 10px;
  margin-bottom: 10px;
  
}

select{
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
 #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    width: 98%;
    margin: auto;
    aspect-ratio: 1; 
  }
  #container > div {
    line-height: 1.7;
  }

  #container > div > span:nth-child(4) {
    text-decoration: line-through;
    font-size: 14px;
    color: red;
    margin-right: 10px;
  }

  #container > div > span:nth-child(5) {
    font-size: 16px;
    font-weight: 400;
  }

  #container > div > p:nth-child(2) {
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
  }

  #container > div > p:nth-child(6) {
    font-size: 13px;
    color: grey;
  }

  #container > div >h2 {
    font-size: 12px;
    font-weight: bold;
  }

  #container > div {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 0PX;
  }

  

  #container > div >img{
    width: 100%;
  }


  #container>div:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }



  button {
    position: relative;
    bottom: 150px;
    left: 38%;
    padding: 10px 25px;
    cursor: pointer;
    opacity: 0;
    background-color: whitesmoke;
    border: 1px solid black;
    font-family: soleil,Helvetica,Arial,sans-serif;
  }


  #container > div:hover>button{
    opacity: 1;
  }

  button:hover{
    background-color: white;
  }

 
  
 @media all and (min-width:481px) and (max-width:768px) {
  #container {
    
    grid-template-columns: repeat(2, 1fr); 
  }
 }

 @media all and (min-width:320px) and (max-width:480px) {
  #container {
    
    grid-template-columns: repeat(1, 1fr); 
  }
 }
  


