html,
body {
  line-height: 1.15;
  letter-spacing: 0.3px;
  font-family: soleil, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: auto;
}
* {
  box-sizing: border-box;
}

#container {
  width: 30%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 20px 30px 20px;
  margin-top: 40px;
  height: 98%;
}

span {
  color: blue;
  margin-left: 65px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
select,
textarea,
submit {
  width: 100%;
  padding: 13px;
  border: 0.1px solid;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 5px;
}

#submit {
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-top: 20px;
}

a {
  color: blue;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
p,
a {
  text-align: center;
}
form > label {
  margin-bottom: 5px;
  font-size: 18px;
}

h2 {
  text-align: center;
  font: 20px;
}

#captcha {
  text-align: left;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 50px;
}
